* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  letter-spacing: 2px;
  color: white;
}

#calculator {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 50rem;
}

#header {
  text-align: center;
}

#input {
  background-color: #3d8d7a;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6rem 0;
  padding: 2.5rem 0;
  border-radius: 10px;
}

.input-div {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.input-div label {
  padding-bottom: 0.5rem;
}

.input-div input {
  background-color: #3d8d7a;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

#output table {
  width: 100%;
  padding: 1rem;
}

.table-output-head {
  color: #3d8d7a;
}

.table-output-head th,
.table-output-content th {
  padding: 0.5rem 0;
  text-align: end;
}

.error {
  text-align: center;
  font-size: 1.5rem;
}
