* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  letter-spacing: 2px;
  color: white;
}

#calculator {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 50rem;
}

@media (max-width: 667px) {
  #calculator {
    width: 90%;
  }
}

#header {
  text-align: center;
}

#header img {
  margin-top: 2rem;
  width: 10rem;
}

@media (max-width: 667px) {
  #header img {
    width: 4rem;
  }
}

#input {
  background-color: #3d8d7a;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6rem 0;
  padding: 2.5rem 0;
  border-radius: 10px;
}

.input-div {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.input-div label {
  padding-bottom: 0.5rem;
}

.input-div input {
  background-color: #3d8d7a;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

@media (max-width: 667px) {
  #input {
    grid-template-columns: 1fr;
    padding: 1rem 0;
    margin: 2rem 0;
  }

  .input-div {
    padding: 1rem 2rem;
  }
}

#output table {
  width: 100%;
  padding: 1rem;
}

.table-output-head {
  color: #3d8d7a;
}

.table-output-head th,
.table-output-content th {
  padding: 0.5rem 0;
  text-align: end;
}

@media (max-width: 667px) {
  #output table {
    /* background-color: black; */
    padding: 1rem 0;
    font-size: 0.9rem;
  }

  .table-output-head th,
  .table-output-content th {
    text-align: center;
  }
}

.error {
  text-align: center;
  font-size: 1.5rem;
}
